/*Table of content - Css Style organization

1. Reset 
2.Page Level styles
3. Typography
4.Utility styles
5. Header and top navigation
6.Program navigation
7.Homepage content
8.Program Pages
9.Media queries for larger viewports -initial css will be for mobile
*/


/* **** 1. Resets ****/

*{
margin:0;
padding:0;
border: none;
}


    


    /* 2. Page Styles */

html {
    font-size:20px
    /* root font size */
}

body {
    font-family: sans-serif;
    line-height: 1.5em;
    margin: 0.5rem;
    background-color: rgb(57, 8, 44);
    
    
   




}

.events {
    padding: 2em;
    width: 110%;
    margin-top: 70px;
    margin-left: 70px;
}

#wrapper {
    max-width: 1200px;
    
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    border-style: groove;
    padding: 2em;







}



input {
    border: solid rgb(255, 179, 0) 1px;
    padding: 3px;
    margin-left: 10px;
    background-color: rgb(235, 185, 70);
    color: brown;

}

/* ********3. Typography **** */
h1 {
    font-size: 1.5rem;
    line-height: 1em;
    color: rgb(214, 98, 98);
   






}

footer {
    color: burlywood;
    background-color: beige;

}



/* ******** 4. Utilities ******* */

flex-container{
    display:flex;
    justify-content:space-between;
}

/* both larger-text and img-responsive are 
    for smaller viewports, flex container can be removed from here
    because its for larger viewports. it will be placed somewhere else. */

/* .larger-text{ 
    font-size: larger;
}
*/
.img-responsive {
    width: 100%;
}

.float-right {
    float: right;
}

/* *************** 5. Header and top navigation ******/
#top-menu {

    display: none;
    padding: 0.5em;
    border: solid 1px black;
    background-color: rgb(214, 98, 98);
    clear: right;
    position: absolute;
    right: 0;
    top: 28px;
    



}



header {
    position: relative;






}

#top-menu ul {
    list-style: none;
    
}

#top-menu li {
    margin-right: 1.5em;
    margin-left: 1em;
}



/* *************** 6. Program navigation ******/
nav ul {
    list-style-type: none;
    border: solid rgb(252, 221, 96) 5px;
    border-radius: 8px;
    background-color: rgb(255, 231, 135);



}

li.dropdown {
    border-bottom: 4px solid rgb(255, 238, 238);

}

li.dropdown ul {
    display: none;
}

li.dropdown:hover ul {
    display: block;
}

.dropdown a {
    display: block;
    padding: 5px;
    color: rgb(176, 52, 52);
    text-decoration: none;

}

.dropdown li a {
    color: rgb(233, 183, 122);
}

.dropdown li a:hover {
    color: rgb(65, 199, 199);
}

.expand {
    float: right;
}



/* *************** 7. Homepage content ******/
.banner {
    display: block;
    padding: 6em;
    padding-top: 2em;
    background: url("images/09_14_2004_qcc_campus_05.jpg") no-repeat center/70%;

    background-size: cover;



}

.banner a {
    text-decoration: none;
    color: aliceblue;
    text-shadow: 2px 2px 2px black;
    font-size: larger;
    background-color: rgb(41, 36, 36);
    margin: 2em;



}

/* *************** 8. Program pages ******/


/* *************** 9. Media queries ******/

@media (min-width:768px) {

.flex-container{
    display:flex;
    justify-content:space-between;
    
}
    

    .program-nav ul {
        display: flex;
        justify-content: space-between;
    }

    .program-nav li {
        width: 30%;
        position: relative;
        

    }

    .program-nav li li {
        /* these ones are ones that dropdown, so the text fits the box content size*/
        width: 100%;
    }


    .dropdown {
        width: 30%;
        position: relative;
        margin-left: 20px;
        


    }

    .dropdown ul {
        display: block;
        position: absolute;
        background-color: rgb(254, 250, 244);
        border: solid rgb(144, 177, 201);
        padding: 5px;
        width: 100%;




    }

    #top-menu {
        
        border: none;
        position: absolute;

    }
    
   


    .menu-icon{
    display: none;
}  


.program-layout {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    grid-gap: 1rem;
    


}

.homepage-layout{
    display: grid;
   grid-template-columns: repeat(2, 1fr);
   
}
.banner{
    text-wrap: wrap;
}

.material-symbols-outlined .float-right{
    display: none;
}

.top-menu{
    display:none;
}


h2 {


    color: rgb(212, 126, 22);
    padding: 1em;
    

}

h3 {
    color: rgb(198, 136, 43);
    padding: 1em;
    
}

p {
    color: rgb(170, 21, 21);
    padding: 1em;
    
}

h5{
    margin-bottom: 15px;
}

h4{
    margin-bottom: 15px;
}



.card {
    /*flex: 1 0 auto;  flex-grow; yes flex-shrink;no flex-basis;original width*/


    border: 2px solid rgb(200, 104, 20);

    background-color: blanchedalmond;
    transition-property: background-color box-shadow transform;
    border-radius: 8px;
    margin-bottom: 20px;

     text-wrap: wrap;



}

.card-body {
    margin-left: 20px;
    color: rgb(226, 116, 43);
    text-wrap: wrap;
    font-size: smaller;
}

.card:hover {
    transition-duration: 0.5s;
    background-color: rgb(246, 247, 173);
    box-shadow: 1px 2px 1px rgb(75, 67, 55);
    transform: scale(1.02);
}

a {
    text-decoration: none;
    color: rgb(214, 98, 98);

}

a:hover {
    text-decoration: underline;
    color: rgb(134, 192, 58);
}

.img-card {
    width: 100%;
    border-radius: 8px;
    



}

}
/*closing media querie */