/*Table of content - Css Style organization

1. Reset 
2.Page Level styles
3. Typography
4.Utility styles
5. Header and top navigation
6.Program navigation
7.Homepage content
8.Program Pages
9.Media queries for larger viewports -initial css will be for mobile
*/


/* **** 1. Resets ****

*{
    margin:0;
    padding:0;
    border:0;
    */


    /* 2. Page Styles */

     html{
        font-size: 20px;  /* root font size */
     }

    body{
        font-family: sans-serif;
        line-height: 1.5em;
        margin: 0.5rem;
    }

    #wrapper{
        max-width: 1200px;
        margin: 0 auto;
    }

   input{
    border: solid rgb(255, 179, 0) 1px;
    padding: 3px;
   }

/* ********3. Typography **** */
    h1
{
    font-size: 1.5rem;
    line-height: 1em;
}

/* ******** 4. Utilities ******* */

    
.flex-container{
    display: flex;
    justify-content: space-between;
}

   /* both larger-text and img-responsive are 
    for smaller viewports, flex container can be removed from here
    because its for larger viewports. it will be placed somewhere else. */
    
    .larger-text{ 
    font-size: larger;
}

.img-responsive {
    width: 100%;
}

.float-right{
    float: right;
}

 /* *************** 5. Header and top navigation ******/
    #top-menu
{
    
    display: none;
   padding: 0.5em;
   border: solid 1px black;
   background-color: aliceblue;
   clear: right;
   position: absolute;
   right: 0;
   top: 28px;
}

header{
    position: relative;
}
#top-menu ul{
list-style: none;
display: flex;
}

#top-menu li{
    margin-right: 1.5em;
}



/* *************** 6. Program navigation ******/
nav ul{
    list-style-type:none;
}

li.dropdown{
    border-bottom: 1px solid black;
}
li.dropdown ul{
    display: none;
}

li.dropdown:hover ul{
display: block;
}

.dropdown a{
    display: block;
    padding: 5px;
    color: black;
    text-decoration:none;
}

.dropdown li a{
    color: rgb(233, 183, 122);
}

.dropdown li a:hover{
color: rgb(65, 199, 199);
}

.expand{
    float: right;
}



/* *************** 7. Homepage content ******/
.banner{
    display: block;
    padding: 6em;
    padding-top: 2em;
  background: url("images/09_14_2004_qcc_campus_05.jpg") no-repeat center/70%;
  
  background-size: cover;
  
  
    
}
.banner a{
    text-decoration: none;
    color: aliceblue;
    text-shadow: 2px 2px 2px black;
    font-size: larger;
    background-color: rgb(41, 36, 36);
    margin: 2em;
    
    
    
}

/* *************** 8. Program pages ******/


/* *************** 9. Media queries ******/

@media (min-width:760px) {

.program-nav ul{
    display: flex;
    justify-content: space-between;
}

.program-nav li{
 width: 30%;
 position: relative;
 
} 

.program-nav li li{ /* these ones are ones that dropdown, so the text fits the box content size*/
    width: 100%;
} 


.dropdown{
    width: 30%;
    position: relative;
   
    
}
.dropdown ul{
    display: block;
    position: absolute;
    background-color: rgb(254, 250, 244);
    border: solid rgb(144, 177, 201);
    padding: 5px;
    width: 100%;


    
    
}
#top-menu{
    display: flex;
    border: none;
    position:static
}

/*.menu-icon{
    
}  */

}



 .program-layout img{
    width: 100%;
 }
 
 .program-layout{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
    grid-gap: 1rem;
    font-size: smaller;
    
    
    
    
    
   
    
}

h2{
    
    margin-left: 20px;
}



.card{
    /*flex: 1 0 auto;  flex-grow; yes flex-shrink;no flex-basis;original width*/
   
margin-top: 30px;
   border: 1px solid rgb(152, 78, 14);
  
  background-color: blanchedalmond;
  transition-property: background-color box-shadow transform;
  border-radius: 8px;
  margin-bottom: 20px;

}

.card-body{
    margin-left: 20px;
}

.card:hover{
   transition-duration: 1s;
   background-color: rgb(246, 247, 173);
   box-shadow: 1px 2px 1px rgb(75, 67, 55);
   transform: scale(1.02);
}

a{
text-decoration: none;
color: gray;
}

a:hover{
 text-decoration: underline;
 color: black;
}

.img-card
{
    width: 100%;
    border-radius: 8px;

    
} /*closing media querie */





