/*Table of content - Css Style organization

1. Reset 
2.Page Level styles
3. Typography
4.Utility styles
5. Header and top navigation
6.Program navigation
7.Homepage content
8.Program Pages
9.Media queries for larger viewports -initial css will be for mobile
*/


/* **** 1. Resets ****

*{
    margin:0;
    padding:0;
    border:0;
    */


    /* 2. Page Styles */

     html{
        font-size: 20px;  /* root font size */
     }

    body{
        font-family: sans-serif;
        line-height: 1.5em;
        margin: 0.5rem;
    }

    #wrapper{
        max-width: 1200px;
        margin: 0 auto;
    }

   input{
    border: solid rgb(255, 179, 0) 1px;
    padding: 3px;
   }

/* ********3. Typography **** */
    h1
{
    font-size: 1.5rem;
    line-height: 1em;
}

/* ******** 4. Utilities ******* */

    
.flex-container{
    display: flex;
    justify-content: space-between;
}

   /* both larger-text and img-responsive are 
    for smaller viewports, flex container can be removed from here
    because its for larger viewports. it will be placed somewhere else. */
    
    .larger-text{ 
    font-size: larger;
}

.img-responsive {
    width: 100%;
}

.float-right{
    float: right;
}

 /* *************** 5. Header and top navigation ******/
    #top-menu
{
    
    display: none;
   padding: 0.5em;
   border: solid 1px black;
   background-color: aliceblue;
   clear: right;
   position: absolute;
   right: 0;
   top: 28px;
}

header{
    position: relative;
}
#top-menu ul{
list-style: none;
}





/* *************** 6. Program navigation ******/
nav ul{
    list-style-type:none;
}

li.dropdown{
    border-bottom: 1px solid black;
}
li.dropdown ul{
    display: none;
}

li.dropdown:hover ul{
display: block;
}

.dropdown a{
    display: block;
    padding: 5px;
    color: black;
    text-decoration:none;
}

.dropdown li a{
    color: rgb(233, 183, 122);
}

.dropdown li a:hover{
color: rgb(65, 199, 199);
}

.expand{
    float: right;
}



/* *************** 7. Homepage content ******/


/* *************** 8. Program pages ******/


/* *************** 9. Media queries ******/








