body
{
    background-color: rgb(26, 41, 112);
    padding: 1em;
}

#wrapper {
    width: 2000px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(206, 209, 42);
   
   
}

header 
{
    background-color: aliceblue;
    background-image: url("images/risebanner.png");
    background-repeat: no-repeat;
    background-position: top right;


}