
* {      /*universal selector, ovverides default margins etc*/
    margin: 0;
    padding:0;
    border: 0;
}




body
{
    background-color: rgb(174, 201, 22);
    
    
}

p {
    margin-bottom: 1em; /*gives spacing to the margins that are overrided by universal selector*/
}

#wrapper {
    width: 1690px;
    
   margin-left: 20px;
margin-right: auto;    
    background-color: rgb(4, 18, 22);
  
  

   
   
}

header 
/*******this is a header banner style******/
{
    /*background-color: aliceblue;
    background-image: url("images/risebanner.png");
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 40%;*/     



    background: url("images/risebanner.png") no-repeat top right/52%,

rgb(2, 8, 18);


    padding: 2em;
    


}


.bannertext
{
    color: rgb(48, 158, 68);
    width: 30%;
  
    font-size:  1.2rem;
    
    
}

.btn
{   display:block;
    background-color: rgb(106, 106, 255);
    color: aliceblue;
    padding: 5px;
    border-radius: 10px;
    width: 5em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 20px;
}

nav a{
    color: rgb(0, 0, 0);
    text-decoration: none;
}

nav a:hover{
    color: brown;
    text-decoration: underline;
}

/**** *navigation bar*** ****/
nav{
background-color: rgb(138, 166, 113);

}

nav li{
    display:inline-block;
    margin-right: 20px;
    padding: 10px;
    padding-left: 2em;
}

/* ********** main ******** */

main{
    padding: 2em;
}

.col-left{
    float: left;
    weight:40%;

}

.col-right{
    float: right;
    weight:40%;
}

footer{
    clear: both;
    padding: 2em;
}